* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: auto;
}

@font-face {
  font-family: 'Arial MT';
  font-weight: normal;
  font-style: normal;
  src: url(../fonts/ofont.ru_Arial.ttf) format("truetype");
}

@font-face {
  font-family: 'Arial - Italic MT';
  font-weight: normal;
  font-style: italic;
  src: url(../fonts/ofont.ru_Arial_italic.ttf) format("truetype");
}

@font-face {
  font-family: 'Georgia';
  font-weight: normal;
  font-style: normal;
  src: url(../fonts/Georgia.ttf) format("truetype");
}

@font-face {
  font-family: 'Times New Roman PSMT';
  font-weight: normal;
  font-style: normal;
  src: url(../fonts/times-new-roman-cyr.ttf) format("truetype");
}

body {
  font-family: 'Arial MT', sans-serif;
}

.title {
  color: #545454;
  font-size: 35px;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 2.1px;
  font-family: 'Georgia', sans-serif;
}

.subtitle {
  display: block;
  color: #545454;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1.2px;
  font-family: 'Georgia', sans-serif;
}

.button {
  display: inline-block;
  text-decoration: none;
  color: #292929;
  font-family: 'Georgia', sans-serif;
  font-size: 17px;
  line-height: 17px;
  letter-spacing: 1.02px;
  border-radius: 26px;
  background-color: #f1cdb3;
  padding: 20px 45px 20px;
}

.button-o {
  display: inline-block;
  text-decoration: none;
  color: #292929;
  font-family: 'Georgia', sans-serif;
  font-size: 17px;
  line-height: 17px;
  letter-spacing: 1.02px;
  border-radius: 26px;
  border: 2px solid #f1cdb3;
  background-color: none;
  padding: 20px 45px 20px;
}

.navbar__logo {
  float: left;
  margin-top: 60px;
}

.navbar__menu {
  margin-top: 77px;
  float: right;
}

.navbar:after {
  content: '';
  display: block;
  clear: both;
}

.logo__text {
  display: block;
  font-size: 32px;
  color: #f1cdb3;
  letter-spacing: 1.13px;
  margin-bottom: 8px;
  line-height: 32px;
  font-family: 'Georgia', sans-serif;
}

.logo__description {
  display: block;
  color: #fff;
  font-size: 13px;
  letter-spacing: 1.3px;
}

.menu_wrap {
  display: inline-block;
  margin-left: 35px;
}

.menu_wrap:hover .menu__link {
  color: #fff;
}

.menu_wrap:hover .menu__underline {
  display: block;
}

.menu__link {
  display: block;
  text-decoration: none;
  color: #cdcdcd;
  font-size: 15px;
  line-height: 15px;
  margin-bottom: 5px;
}

.menu__underline {
  display: none;
  height: 3px;
  border-radius: 2px;
  background-color: #f1cdb3;
}

.header {
  min-height: 925px;
  background-color: #000;
  background: url("../img/hero/Dog.png") 100% 0% no-repeat, url("../img/hero/Background.jpg") 50% 0% no-repeat;
  background-size: contain, cover;
}

.hero__title {
  display: block;
  color: #ffffff;
  font-size: 44px;
  font-weight: 400;
  line-height: 57px;
  letter-spacing: 2.64px;
  margin-top: 251px;
  margin-bottom: 46px;
  font-family: 'Georgia', sans-serif;
}

.hero__subtitle {
  display: block;
  color: #cdcdcd;
  font-size: 15px;
  line-height: 24px;
  font-family: 'Arial MT', sans-serif;
  margin-bottom: 44px;
}

.hero__button {
  display: inline-block;
}

.hero__button:hover {
  background-color: #fddcc4;
}

.about {
  background-color: #fafafa;
  padding: 90px 0;
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__content-block {
  vertical-align: text-bottom;
  margin-left: 120px;
}

.about__title {
  display: block;
  margin-bottom: 27px;
}

.about__subtitle {
  display: block;
  color: #4c4c4c;
  font-size: 15px;
  line-height: 24px;
  font-family: 'Arial MT', sans-serif;
  margin-top: 0;
}

.catalog {
  background-color: #f6f6f6;
  padding-top: 78px;
  text-align: center;
}

.catalog__title {
  display: block;
  text-align: center;
  margin-bottom: 56px;
}

.catalog__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalog__item {
  width: 270px;
  background-color: #fafafa;
  border-radius: 20px;
  text-align: center;
}

.catalog__item:hover {
  -webkit-box-shadow: 0 2px 30px 5px rgba(13, 13, 13, 0.1);
          box-shadow: 0 2px 30px 5px rgba(13, 13, 13, 0.1);
}

.catalog__image-area {
  height: 270px;
}

.catalog__image {
  display: block;
  height: 100%;
  margin: auto;
  border-radius: 20px;
}

.catalog__subtitle {
  margin-top: 29px;
  margin-bottom: 24px;
}

.catalog__button {
  margin-bottom: 34px;
}

.catalog__button:hover {
  background-color: #f1cdb3;
}

.catalog__button-more {
  margin-top: 66px;
  margin-bottom: 68px;
}

.catalog__button-more:hover {
  background-color: #fddcc4;
}

.button-prev, .button-next {
  min-width: 50px;
  height: 50px;
  padding: 0;
  padding-top: 15px;
  text-align: center;
}

.button-prev {
  margin-right: 80px;
}

.button-prev:hover {
  background-color: #f1cdb3;
}

.button-next {
  margin-left: 80px;
}

.button-next:hover {
  background-color: #f1cdb3;
}

.help {
  background-color: #fafafa;
  padding-top: 72px;
  text-align: center;
}

.help__title {
  margin-bottom: 80px;
}

.help__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.help__item {
  display: block;
  height: 110px;
  margin: 0 60px;
  margin-bottom: 80px;
}

.help__image {
  height: 60px;
  display: block;
  margin: 0 auto;
}

.help__subtitle {
  margin-top: 25px;
  white-space: nowrap;
}
/*# sourceMappingURL=style.css.map */